body {
  background-color: #E5E5E5;
  font-family: "Roboto", sans-serif;
  color: 212121;
}
.header-background {  background-color:#FFFFFF;

 
   }

  div {background: #2F303A;
    width: 1600px;
    height: 600px;
    text-align: center;
    12
   }

.a {
  text-decoration: none;
  color: inherit;
}
a:focus,
a:hover {color:
  #2196F3;}

.button {
  cursor: pointer;
}
.button-look{
width: 200px;
height: 50px;
left: 700px;
top: 430px;

}
.footer-background{
  background-color: #2F303A;width: 1600px;
  height: 252px;
  color:#FFFFFF

}

.photo-team {color:#FFFFFF;
  width: 270px;
  height: 260px;}
.photo-work{width: 370px;
  height: 294px;}
  .photo-portfolio { width: 370px;
    height: 294px;}
.logo-studio {color:#2196F3;}
.title {position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: #FFFFFF;}
  

:root {
  --background-color: #e5e5e5;
  --background-header-color:#FFFFFF;
  --h1 color: #FFFFFF;
  --span color: 212121; 
--text-color:757575;
}

